<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Projeto_SistemadeChamadosCMR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Usuario_Email_Suporte" value="suporte_ti@cmrcia.com.br"/>
    <add key="Senha_Email_Suporte" value= "#@t1suP2022@"/>
    <!--<add key ="Host" value=""/>
		<add key ="Port" value=""/>
		<add key ="Timeout" value=""/>
		<add key ="EnabledSSL" value=""/>
		<add key ="" value=""/>
		<add key ="" value=""/>
		<add key ="" value=""/>
		<add key ="" value=""/>
		<add key ="" value=""/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Projeto_SistemadeChamadosCMR.Properties.Settings.bd_chamadosConnectionString"
      connectionString="server=helpdesk;user id=system;persistsecurityinfo=True;database=bd_chamados"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Projeto_SistemadeChamadosCMR.Properties.Settings>
      <setting name="Usuario_Email_Suporte" serializeAs="String">
        <value>suporte_ti@cmrcia.com.br</value>
      </setting>
      <setting name="Senha_Email_Suporte" serializeAs="String">
        <value>#@t1suP2022&amp;</value>
      </setting>
    </Projeto_SistemadeChamadosCMR.Properties.Settings>
  </userSettings>
</configuration>
